/* General */
body { margin: 25px; }

/* General: Typography */
h1, h2, h3, h4, h5, h6, p { margin: 0; }

h1, h2 {
  font-family: "Georgia", serif;
  text-align: center;
}

h6 { font-size: 0.8rem; }

a,
a:hover {
  color: #000;
}

.highlight-yellow { background-color: yellow; }

/* General: Margins */
.xs-margin-top { margin-top: 5px; }

/* General: Horizontal Rule */
hr { margin: 1.5rem 0 1rem 0; }


/* Heading and Subheading */
#heading { margin-bottom: 10px; }
#subheading h2 { font-size: 1.5rem; }
#subheading p {
  font-size: 0.75rem;
  margin: 0 15px;
}


/* Information */
#info {
  background-color: rgba(168, 208, 141, 0.5);
  border-radius: 5px;
  margin: 0 auto;
  padding: 15px 25px;
  text-align: center;
  width: fit-content;
}
  #info button {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-family: "Georgia", serif;
    margin: 10px 0;
    padding: 5px 10px;
    transition: ease 0.2s;
  }
    #info button:hover { background-color: rgb(168, 208, 141); }
    #info button:focus { outline: none; }


/* Index */
#index p {
  font-size: 0.6rem;
  margin: 0 7.5px;
}

#index a {
  font-family: "Georgia", serif;
  font-size: 1.25rem;
}


/* Table */
table {
  border-collapse: collapse;
  margin: 0 auto;
}
  table th { text-align: center; }

  table th,
  table td {
    border: 1px solid #000;
    padding: 5px 10px;
  }

  table th,
  table td:first-child,
  table td:nth-child(2) {
    white-space: nowrap;
  }


/* Top Link */
#topLink {
  background-color: rgba(168, 208, 141, 0.25);
  border: 1px solid rgb(168, 208, 141);
  border-radius: 5px;
  bottom: 25px;
  cursor: pointer;
  padding: 5px 10px;
  position: fixed;
  right: 35px;
  transition: ease 0.2s;
}
  #topLink:hover { background-color: rgba(168, 208, 141, 1); }
